/* 
    Document   : calonbar
    Created on : Feb 3, 2012, 7:53:09 AM
    Author     : rik
    Description:
        Purpose of the stylesheet follows.
*/

/*  */

root { 
}

#calonbar {
    position: fixed;
    top:0;
    right:0;
    min-width: 10%;
    float: right;
    margin-left: 2em;
    font-weight:bold;
    color:#FFE766;
    padding:4px;
    padding-right: 10%;
    font-size: 100%;
    background-color: WHITE;
}

a.calonbarlink:link, a.calonbarlink:visited {
    width:5em;
    color:#800080;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    font-size: 100%;
}

a.calonbarlink:hover, a.calonbarlink:active {
}
