/* 
    Document   : default
    Created on : Apr 24, 2011, 6:09:30 PM
    Author     : rik
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.userbox {
    display: inline;
    border: 1px solid darkblue;
    text-align: center;
    vertical-align: middle;
    margin: .25em;
    padding: .5em;
    width: 25em;
    position:absolute;
    top:0;
    right:0;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.userbox input {
    width: 100%;
}

.buttonLink {
    display: block;
    border: 1px solid darkblue;
    text-align: center;
    vertical-align: middle;
    margin: .2em 1.5em;
    padding: .25em;
    background-color: lightblue;
    color: white;
}

.buttonLink a {

}

a:link.buttonLink.buttonLink {text-decoration: none}
a:visited.buttonLink {text-decoration: none}
a:active.buttonLink {text-decoration: none}
a:hover.buttonLink {text-decoration: none}

#searchBar {
    background-color: lightblue;
    display: block;
    border: 1px solid darkblue;
    text-align: left;
    vertical-align: middle;
    margin-bottom: .25em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 4em;
    padding: .5em;
    width: 40%;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#error {
    background-color: #FF3030;
    display: block;
    border: 1px solid #8B1A1A;
    text-align: left;
    vertical-align: middle;
    margin-bottom: .25em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .25em;
    padding: .5em;
    width: 25em;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#uimessage {
    background-color: whitesmoke;
    display: block;
    border: 1px solid darkblue;
    text-align: left;
    vertical-align: middle;
    margin-bottom: .25em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .25em;
    padding: .5em;
    width: 25em;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.figherIdBox {
    margin-bottom: .25em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    border: 1px solid #FFFAFA;
    background-color: whitesmoke;
    -moz-border-radius: 15px;
    border-radius: 15px;
    display: block;
    padding: .5em;
    width: 60%;
}

.dataBox {
    background-color: lightblue;
    display: block;
    border: 1px solid darkblue;
    text-align: left;
    vertical-align: middle;
    margin-bottom: .25em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 4em;
    width: 80%;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.dataBoxShort {
    background-color: lightblue;
    display: block;
    border: 1px solid darkblue;
    text-align: left;
    vertical-align: middle;
    margin-bottom: .25em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    width: 35%;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.dataBoxShort textarea {
    width: 100%;
    height: 100%;
}

.dataHeader {
    background-color: purple;
    color: white;
    margin: 0,0,0,0;
    padding: 0,0,0,0;
    border-top: 1px solid darkblue;
    border-left: 1px solid darkblue;
    border-right: 1px solid darkblue;
    padding: .5em;
    -moz-border-right-radius: 15px;
    -moz-border-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.dataHeader span {
    float: right;
}

.dataHeader span a:link,
.dataHeader span a:visited,
.dataHeader span a:hover,
.dataHeader span a:active {
    color: lightslategray;
}

.dataBody {
    padding: .5em;
}

.dataBody table .label {
    vertical-align: top;
}

.dataBody table .data {
    vertical-align: top;
}

#fighterInfo {
    display: inline;
}

#adminInfo {
    border: 3px double #666666 
}

a.Delete:active, a.Delete:visited, a.Delete:link {
    border-style: solid;
    border-width : 2px;
    text-decoration : none;
    padding : 4px;
    margin-right: 2px;
    margin-top: 2px;
    margin-left: .5em;
    margin-bottom: 2px;
    border-color: #898989 #000000 #000000 #898989 ;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: whitesmoke;
    font-size: smaller;
}

a.Delete:hover {
    background-color: white;
}


a.BPrint:active, a.BPrint:visited, a.BPrint:link {
    border-style: solid;
    border-width : 2px;
    text-decoration : none;
    padding : 4px;
    margin-right: 2px;
    margin-top: 2px;
    margin-left: .5em;
    margin-bottom: 2px;
    border-color: #898989 #000000 #000000 #898989 ;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: whitesmoke;
    font-size: smaller;
}

a.BPrint:hover {
    background-color: white;
}

.list {
    background-color: lightblue;
    display: block;
    border: 1px solid darkblue;
    text-align: left;
    vertical-align: middle;
    margin-bottom: .25em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 4em;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.header {
    background-color: purple;
    color: white;
    margin: 0,0,0,0;
    padding: 0,0,0,0;
    border-top: 1px solid darkblue;
    border-left: 1px solid darkblue;
    border-right: 1px solid darkblue;
    -moz-border-right-radius: 15px;
    -moz-border-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.listRow {
    display: block;
    border-bottom: 1px solid darkblue;
    width: 100%;
}

.listRow .rowElement { 
    display: inline-block;
    margin-right: 1em;
    margin-left: 1em;
}

.listRow a:active, a:visited, a:link {
    text-decoration : none;
    color: black;
}

.listRow a:hover {
    background-color: white;
    color: blue;
}

.rightCol {
    text-align: right;
}

table.wide-table {
   width: 100%;
}
